@tailwind base;
@tailwind components;
@tailwind utilities;

/* Hide scrollbar horizontally */
.scrollbar-hide::-webkit-scrollbar {
  display: none;
}

.scrollbar-hide {
  -ms-overflow-style: none;  /* IE */
  scrollbar-width: none;     /* Firefox */
}
